/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans", sans-serif;
}

/* GENERALI */

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 17px;
}

.container-size-1 {
  max-width: 69%;
  margin: 0 auto;
}

.container-size-2 {
  max-width: 55%;
  margin: 0 auto;
}

h1 {
  font-size: 77px;
  font-weight: 800;
}

h2 {
  font-size: 40px;
}

h4 {
  font-size: 21px;
}

.padding-top-30 {
  padding: 30px 0px 0px 0px;
}

.padding-top-50 {
  padding: 50px 0px 0px 0px;
}

.padding-bottom-50 {
  padding: 0px 0px 50px 0px;
}

.padding-top-10 {
  padding: 10px 0px 0px 0px;
}

.padding-topBottom-30 {
  padding: 30px 0px;
}

.bold {
  font-weight: bold;
}

/* NAV */

nav {
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_link-sinistra ul,
.nav_link-destra ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav_link-sinistra ul li,
.nav_link-destra ul li {
  padding: 15px;
  position: relative;
}

.nav_link-sinistra ul li:hover:not(:first-child) a:after,
.nav_link-destra ul li:hover:not(:last-child) a:after {
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #0061ff;
}

.nav_link-sinistra ul li a,
.nav_link-destra ul li a {
  text-decoration: none;
  font-size: 12px;
}

.fake-btn {
  background-color: #0061ff;
  padding: 8px;
  color: #fff;
}

/* HEADER */

.title {
  padding: 80px 0px 50px 0px;
}

.header {
  background-color: #b4d0e7;
  display: flex;
  justify-content: space-between;
}

.header_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: -85px;
}

.header_container-sinistra {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  width: 30%;
}

.header_container-sinistra a {
  text-decoration: none;
  font-size: 17px;
}

.header_container-sinistra i {
  font-size: 60px;
  padding-top: 48px;
  color: #000;
}

.header_container-destra {
  width: 70%;
}

.header_container-destra img {
  width: 100%;
}

.header_container-sinistra p {
  color: rgb(31, 31, 31);
}

/* MAIN */

main {
  padding-top: 150px;
}

/* SEZIONE PIANO BUSINESS */

.pianoBusiness_opzioni {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.btn-fatturazione {
  padding: 30px 0px;
}

.span-fatturazione-1 i {
  color: #0061ff;
}

.span-fatturazione-2 i {
  color: lightgrey;
}

.span-fatturazione-1 {
  padding-right: 20px;
}

.box-column {
  width: calc(100% / 3);
  border: 2px solid #dbd8d8;
  border-radius: 2px;
}

.box-column_title {
  text-align: center;
  border-bottom: 2px solid #dbd8d8;
  padding: 15px 0px;
}

.box-column-main {
  padding: 30px;
}

.box-column-main p,
a,
ul li {
  font-size: 15px;
  letter-spacing: 0.5px;
}

.box-column_main-3 button {
  width: 100%;
  border: none;
  background-color: #0061ff;
  padding: 15px 0px;
  color: #fff;
  font-size: 16px;
}

.box-column_main-3 a {
  color: #0061ff;
}

.box-column_main-4 ul {
  list-style: none;
}

.box-column_main-4 ul li {
  padding-bottom: 15px;
}

/* .box-column_main-4 ul li::before {
  content: "\2713  ";
  color: #0061ff;
  font-weight: bold;
} */

.box-column_main-4 ul li i {
  color: #0061ff;
  font-weight: bold;
  font-size: 20px;
}

.box-row {
  width: 100%;
  margin: 50px 0px;
  border: 2px solid #dbd8d8;
  border-radius: 2px;
}

.box-row-content {
  display: flex;
  padding: 30px;
}

.box-row_text {
  width: 70%;
}

.box-row-button {
  width: 30%;
}

/* SEZIONE PARTNER */

.partnerContatto {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  padding: 100px 0px;
}

.partnerContatto_img img {
  width: 645px;
}

.partnerContatto_text {
  padding: 50px;
}

.partnerContatto_text .fake-btn {
  background-color: #fff;
  border: 1px solid grey;
  text-decoration: none;
  color: black;
  margin-top: 36px;
  display: inline-block;
}

/* SEZIONE ESEGUI OPERAZIONI */

.eseguiOperazioni_card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.eseguiOperazioni_card img {
  width: 100%;
}

.card {
  width: calc((100% - 60px) / 3);
}

/* SEZIONE CLIENTI */

.teamClienti {
  padding: 150px 0px;
}

.teamClienti a {
  display: inline-block;
  color: #0061ff;
}

/* SEZIONE DESIGNIT */

.designit {
  display: flex;
  justify-content: space-between;
}

/* Soluzione con aspect ratio

.designit-card {
  width: 100vw;
  aspect-ratio: 1 / 1;
}

.designit-cubo {
  width: 50%;
}  */

.designit-card {
  width: calc(100% / 3);
  height: calc(100vw / 3);
}

.designit-cubo {
  width: 50%;
  height: 50%;
}

.cubo-green {
  background-color: #a2d39b;
  position: relative;
}

.cubo-green img,
.cubo-azzuro img,
.cubo-red img,
.cubo-lightBlue img {
  top: 48%;
  left: 35%;
  transform: translate(-25%, -25%);
}

.cubo-bordeaux {
  background-color: #61082b;
  position: relative;
}

.cubo-orangeRed img {
  top: 42%;
  left: 35%;
  transform: translate(-25%, -25%);
}

.cubo-bordeaux img {
  top: 39%;
  left: 38%;
  transform: translate(-25%, -25%);
}

.cubo-azzuro {
  background-color: #0093ce;
  position: relative;
}

.cubo-orangeRed {
  background-color: #ff1c1c;
  position: relative;
}

.cubo-red {
  background-color: #d5001f;
  position: relative;
}

.cubo-lightBlue {
  background-color: #b4d0e7;
  position: relative;
}

.cubo-blue {
  background-color: #0d2481;
  position: relative;
}

.cubo-blue img,
.cubo-giallo img {
  top: 45%;
  left: 35%;
  transform: translate(-25%, -25%);
}

.cubo-giallo {
  background-color: #ffd830;
  position: relative;
}

.designit_center {
  background-color: #f5f5f5;
  position: relative;
  padding: 3%;
  overflow-y: auto;
}

.designit_center img {
  width: 50%;
}

.firma p {
  padding-top: 10%;
}

.designit_left,
.designit_right {
  display: flex;
  flex-wrap: wrap;
}

.designit_left {
  justify-content: flex-start;
}

.designit_right {
  justify-content: flex-end;
}

.designit-cubo img {
  width: 60%;
  position: absolute;
}

.designit-cubo img {
  filter: invert(1);
}

/* SEZIONE CTA */

.cta {
  background-color: #b4d0e7;
  padding: 90px 0px;
}

.cta h2 {
  color: #5f0226;
}

.cta_sezioni {
  display: flex;
  justify-content: space-between;
}

.ctaleft,
.cta-right {
  width: 50%;
}

.cta-right {
  position: relative;
}

.cta-right a {
  padding: 14px 31px;
  background-color: #fff;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 180px;
}

/* SEZIONE DOMANDE */

.domandeFrequenti {
  padding: 100px 0px;
}

.dropdown {
  position: relative;
}

.dropbtn {
  background-color: #ffffff;
  color: rgb(29, 29, 29);
  padding: 27px 0px;
  font-size: 12px;
  border: none;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(82, 82, 82);
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #ddd;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ffffff;
}

/* SEZIONE FOOTER */

footer {
  background-color: rgb(0, 0, 0);
  padding: 100px 0px 50px 0px;
}

.footerContainer_box {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.footer_box {
  width: calc(100% / 5);
  color: #fff;
}

.footer_box ul {
  list-style: none;
}

.footer_box ul li {
  font-size: 13px;
  font-weight: 200;
  line-height: 25px;
}

.language {
  margin-top: 80px;
  color: #fff;
  font-size: 10px;
  border-top: 1px solid #fff;
  display: inline-block;
}

.icon-language {
  padding: 20px 0px;
}

/* DEBUG */
.debug .nav {
  background-color: rgb(255, 149, 149);
}

.debug .header {
  background-color: aquamarine;
}

.debug .header_container {
  background-color: rgb(102, 56, 230);
}

.debug .pianoBusiness {
  background-color: rgb(235, 93, 147);
}

.debug .box-column {
  background-color: rgb(255, 255, 255);
}

.debug .box-row {
  height: 255px;
  background-color: rgb(212, 3, 20);
}

.debug .partnerContatto_text {
  background-color: black;
  height: 200px;
}

.debug .partnerContatto_img {
  background-color: rgb(99, 99, 99);
}

.debug .card {
  background-color: rgb(226, 255, 59);
  height: 200px;
}

.debug .designit {
  background-color: rgb(55, 114, 0);
}

.debug .designit-card {
  background-color: #0061ff;
}

.debug .designit-card {
  border: 1px solid black;
}

.debug .designit-cubo {
  border: 1px solid black;
}

.debug .domandeFrequenti {
  background-color: rgb(255, 145, 0);
}

.debug .footer_box {
  background-color: darkgoldenrod;
}

.debug .language {
  height: 70px;
  background-color: red;
}
