/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* GENERALI */
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-size-1 {
  max-width: 80%;
  margin: 0 auto;
}

.container-size-2 {
  max-width: 70%;
  margin: 0 auto;
}

h1 {
  font-size: 67px;
  font-weight: 800;
}

/* NAV */

nav {
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_link-sinistra ul,
.nav_link-destra ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav_link-sinistra ul li,
.nav_link-destra ul li {
  padding: 15px;
}

.nav_link-sinistra ul li a,
.nav_link-destra ul li a {
  text-decoration: none;
}

.fake-btn {
  background-color: blue;
  padding: 8px;
  color: #fff;
}

/* HEADER */

.header {
  display: flex;
  justify-content: center;
}

.header_container {
  display: flex;
  justify-content: space-between;
}

.header_container-sinistra {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.header_container-sinistra i {
  font-size: 55px;
}

.header_container-destra img {
  width: 660px;
}

/* SEZIONE PIANO BUSINESS */

.pianoBusiness_opzioni {
  display: flex;
  justify-content: space-between;
}

.box-column {
  width: 100%;
  margin-right: 40px;
}

.box-column:nth-child(3) {
  margin-right: 0px;
}

.box-row {
  width: 100%;
  margin: 50px 0px;
}

/* SEZIONE PARTNER */

.partnerContatto {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

/* .partnerContatto_img img {
  width: 100%;
  flex-grow: 2;
} */

.partnerContatto_img {
  flex-grow: 2;
}

.partnerContatto_text {
  flex-grow: 1;
}

/* DEBUG */
.debug .nav {
  background-color: rgb(255, 149, 149);
}

.debug .header {
  background-color: aquamarine;
}

.debug .header_container {
  background-color: rgb(102, 56, 230);
}

.debug .pianoBusiness {
  background-color: rgb(235, 93, 147);
}

.debug .box-column {
  height: 200px;
  background-color: blueviolet;
}

.debug .box-row {
  height: 200px;
  background-color: rgb(212, 3, 20);
}

.debug .partnerContatto_text {
  background-color: black;
  height: 200px;
}

.debug .partnerContatto_img {
  background-color: rgb(99, 99, 99);
  height: 200px;
}
