/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* GENERALI */
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-size-1 {
  max-width: 80%;
  margin: 0 auto;
}

.container-size-2 {
  max-width: 70%;
  margin: 0 auto;
}

h1 {
  font-size: 67px;
  font-weight: 800;
}

/* NAV */

nav {
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_link-sinistra ul,
.nav_link-destra ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav_link-sinistra ul li,
.nav_link-destra ul li {
  padding: 15px;
}

.nav_link-sinistra ul li a,
.nav_link-destra ul li a {
  text-decoration: none;
}

.fake-btn {
  background-color: blue;
  padding: 8px;
  color: #fff;
}

/* HEADER */

.header {
  display: flex;
  justify-content: center;
}

.header_container {
  display: flex;
  justify-content: space-between;
}

.header_container-sinistra {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.header_container-sinistra i {
  font-size: 55px;
}

.header_container-destra img {
  width: 660px;
}

/* SEZIONE PIANO BUSINESS */

.pianoBusiness_opzioni {
  display: flex;
  justify-content: space-between;
}

.box-column {
  width: 100%;
  margin-right: 40px;
}

.box-column:nth-child(3) {
  margin-right: 0px;
}

.box-row {
  width: 100%;
  margin: 50px 0px;
}

/* SEZIONE PARTNER */

.partnerContatto {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.partnerContatto_img {
  flex-grow: 2;
}

.partnerContatto_text {
  flex-grow: 1;
}

/* SEZIONE ESEGUI OPERAZIONI */

.eseguiOperazioni_card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

/* SEZIONE CLIENTI */

.teamClienti {
  margin: 50px 0px;
}

/* SEZIONE DESIGNIT */

.designit {
  display: flex;
  justify-content: space-between;
}

.designit-card {
  width: calc(100% / 3);
}

.designit-cubo {
  width: calc(100vw / 7);
  height: calc(100vw / 7);
}

.designit_left,
.designit_right {
  display: flex;
  flex-wrap: wrap;
}

/* SEZIONE CTA */

.cta {
  background-color: rgb(150, 193, 250);
}

.cta_sezioni {
  display: flex;
  justify-content: space-between;
}

/* SEZIONE DOMANDE */
.dropbtn {
  background-color: #ffffff;
  color: rgb(29, 29, 29);
  padding: 27px;
  font-size: 12px;
  border: none;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(82, 82, 82);
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #ddd;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ffffff;
}

/* SEZIONE FOOTER */

footer {
  background-color: rgb(22, 22, 22);
}

.footerContainer_box {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.footer_box {
  width: calc(100% / 5);
}

.footer_box ul {
  list-style: none;
}

/* DEBUG */
.debug .nav {
  background-color: rgb(255, 149, 149);
}

.debug .header {
  background-color: aquamarine;
}

.debug .header_container {
  background-color: rgb(102, 56, 230);
}

.debug .pianoBusiness {
  background-color: rgb(235, 93, 147);
}

.debug .box-column {
  height: 200px;
  background-color: blueviolet;
}

.debug .box-row {
  height: 200px;
  background-color: rgb(212, 3, 20);
}

.debug .partnerContatto_text {
  background-color: black;
  height: 200px;
}

.debug .partnerContatto_img {
  background-color: rgb(99, 99, 99);
  height: 200px;
}

.debug .card {
  background-color: rgb(226, 255, 59);
  height: 200px;
  width: calc((100% / 3) - 20px);
}

.debug .designit {
  background-color: rgb(55, 114, 0);
  height: 300px;
}

.debug .domandeFrequenti {
  background-color: rgb(255, 145, 0);
  height: 300px;
}

.debug .footer_box {
  background-color: darkgoldenrod;
  height: 100px;
}

.debug .language {
  height: 70px;
  background-color: red;
}

.debug .designit-card {
  background-color: aqua;
  border: 1px solid black;
}

.debug .designit-cubo {
  border: 1px solid black;
}
