* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
}

/* GENERALI */

.main-container {
  width: 90vw;
  margin: 0 auto;
  display: flex;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.btn-blu {
  background-color: #0061ff;
  color: #fff;
  text-decoration: none;
  padding: 12px;
  display: inline-block;
}

/* NAV */

nav {
  width: 100%;
}

p {
  font-size: 18px;
  font-weight: 300;
}

h1 {
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_link-sinistra ul,
.nav_link-destra ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav_link-sinistra ul li,
.nav_link-destra ul li {
  padding: 15px;
  position: relative;
}

.nav_link-sinistra ul li a,
.nav_link-destra ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #000;
}

.nav_link-destra .fake-btn {
  background-color: #0061ff;
  padding: 8px 20px;
  color: #fff;
}

.nav_link-destra .fake-btn i {
  padding-left: 10px;
}

/* NAV 2 */

.nav-2 {
  height: 50px;
  display: flex;
  background-color: rgb(20, 20, 20);
  justify-content: space-between;
  line-height: 50px;
}

.nav-2-left ul {
  display: flex;
  list-style: none;
}

.nav-2-left ul li {
  padding: 0px 10px 0px 10px;
}

.nav-2-left ul:first-child {
  padding-left: 70px;
  color: #fff;
}

.nav-2-right a {
  padding: 5px 8px;
  border: 1px solid rgb(122, 122, 122);
  text-decoration: none;
  margin-right: 14px;
  color: lightgrey;
}

.nav-2-right a i {
  padding-right: 10px;
  color: lightgrey;
}

/* SEZIONE 1 COLLABORAZIONE */

.collaborazione-main-wrap {
  display: flex;
  background-color: #1e1919;
  color: #fff;
}

.collaborazione-left-box {
  width: 60%;
}

.collaborazione-left-box img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.collaborazione-left-box-text {
  padding: 30px 200px 75px 75px;
}

.collaborazione-right-box {
  width: 40%;
}

.collaborazione-right-box h5 {
  font-size: 12px;
  color: #a1a1a1;
  padding-bottom: 10px;
}

.collaborazione-right-box h2 {
  font-size: 35px;
  font-weight: 500;
  color: #a1a1a1;
}

.collaborazione-right-box img {
  height: 50%;
}

.collaborazione-right-box-text {
  padding: 40px;
  padding: 44px 73px 44px 73px;
}

.collaborazione-right-box-text-2 {
  border: 1px solid #4e4e4e;
}

.collaborazione-right-box-text-3 {
  border-bottom: 1px solid #4e4e4e;
  border-left: 1px solid #4e4e4e;
  border-right: 1px solid #4e4e4e;
}

/* SEZIONE 2 */

.sezione-2 {
  padding: 100px 0px;
}

.sezione-2 .sezione-2-left {
  width: 50%;
}

.sezione-2 .sezione-2-left img {
  width: 100%;
}

.sezione-2 .sezione-2-right {
  width: 50%;
  padding: 80px;
}

.sezione-2-right {
  position: relative;
}

.sezione-2-right-bottoni {
  position: absolute;
  bottom: 80px;
  left: 80px;
}

.sezione-2-right-bottoni .btn-blu {
  margin-right: 10px;
}

.sezione-2-right-bottoni .btn-empty {
  text-decoration: none;
  border-bottom: 1px solid #000;
  padding-bottom: 8px;
  color: #000;
}

/* SEZIONE 3 */

.sezione-3 {
  background-color: #1e1919;
}

.arrow {
  color: #fff;
  position: absolute;
  padding-bottom: 20px;
  display: inline-flex;
  top: 197px;
  right: 96px;
  padding-right: 10px;
}

.arrow i {
  padding-right: 15px;
}

.sezione-3 h1 {
  text-align: center;
  color: #f7f5f2;
  padding-bottom: 82px;
}

.sezione-3-wrap-1 {
  padding: 100px 0px 100px 80px;
  position: relative;
}

.sezione-3-wrap {
  display: flex;
}

.sezione-3-wrap-box {
  width: 30%;
  background-color: #f7f5f2;
  height: 372px;
}

.sezione-3-wrap-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sezione-3-wrap-box-text {
  padding: 40px;
  position: relative;
}

.sezione-3-wrap-box-text a {
  position: absolute;
  bottom: -113px;
}
